.pagination {
  @extend %flex-center-xy;
  flex-wrap: wrap;
  margin-bottom: -1rem;

  > * {
    margin-bottom: 1rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__item {
    @extend %text-16;
    font-weight: 500;
    color: var(--black);
    width: 5rem;
    height: 5rem;
    border: 0.1rem solid var(--gray5);
    transition: border 0.3s;

    @extend %flex-center-xy;

    &:hover {
      border: 0.1rem solid var(--green);
    }

    &.is-active {
      color: var(--green);
      border: none;
    }
  }
}
