html {
  height: 100%; // Footer at bottom

  font-size: calc(100vw / 1920 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (max-width: 767px) {
    font-size: calc(100vw / 480 * 10);
  }

  @media (max-width: 500px) {
    font-size: calc(100vw / 375 * 10);
  }
}

:root {
  --green: #319d50;
  --hover-green: #138434;
  --active-green: #106027;
  --white: #fff;
  --black: #2c2c2c;
  --black2: #474646;
  --gray: #898a8e;
  --gray2: #474646;
  --gray3: #898a8e;
  --gray4: #f8f8f8;
  --gray5: #e3e3e3;
  --red: #e11818;
  --padding-bottom: 3rem;
  --container-padding: 0 2rem;
  --gap-cards: 4rem 1rem;
  --padding-between-border: 2rem 0;
  --padding-between-border-2: 2rem 0 4rem;
  --container-width: 155rem;
  --container-width-2: 183rem;
  --font-family: 'Geometria', sans-serif;
  --font-family-2: 'CormorantGaramond', serif;
}

body {
  display: flex; // Footer at bottom
  flex-direction: column; // Footer at bottom
  height: 100%; // Footer at bottom
  color: var(--black);
  background: var(--white);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

.header {
  flex-shrink: 0; // Footer at bottom
}

.main {
  position: relative;
  flex: 1 0 auto; // Footer at bottom
}

.footer {
  z-index: 10;
  flex-shrink: 0; // Footer at bottom
  margin-top: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;

  table & {
    max-width: none;
  }
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--container-padding);
}

.second-container {
  max-width: var(--container-width-2);
  margin: 0 auto;
  padding: var(--container-padding);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

// styles for first screen page
.progress {
  padding-top: 20rem;

  @media (max-width: $lg) {
    padding-top: 8rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 4rem 20rem;

    @media (max-width: $lg) {
      grid-template-columns: 1fr;
    }
  }

  &__link {
    @extend %text-24;
    color: var(--black);
    transition: color 0.3s;

    &:hover {
      color: var(--green);
    }
  }
}

// default styles of popup-input
.popup-input {
  border: 0.2rem solid var(--gray2);
  background-color: transparent;
  color: var(--white);
  padding: 1rem 2rem;
  width: 100%;

  @extend %text-16;
  font-weight: 400;

  &::placeholder {
    color: var(--white);
  }
}

.section-title {
  @extend %text-40;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black);
  padding-bottom: 3rem;

  @media (max-width: $sm) {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

.pb6 {
  padding-bottom: 6rem;

  @media (max-width: $md) {
    padding-bottom: 3rem;
  }
}

.pb15 {
  padding-bottom: 15rem;

  @media (max-width: $lg) {
    padding-bottom: 4rem;
  }
}

.pt8 {
  padding-top: 8rem;
}

.btn {
  background-color: var(--gray2);
  border: 0.1rem solid transparent;
  transition: all 0.3s;

  &:hover {
    background-color: transparent;
    border: 0.1rem solid var(--gray2);
    color: var(--green);
  }

  &:active {
    border: 0.1rem solid var(--green);
  }
}

.input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.passw-toggle {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 2rem;

  @extend %pos-center-y;
}

.passw-icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--gray3);
  pointer-events: none;

  &--hide {
    stroke: var(--gray3);
  }
}
