<ul class="breadcrumbs">
  <li class="breadcrumbs__item">
    <a href="#" class="breadcrumbs__link">{{ breadcrumbs.text1 }}</a>
  </li>
  <li class="breadcrumbs__item">{{ breadcrumbs.text2 }}</li>
</ul>
