<ul class="breadcrumbs">
  {% for breadcrumb in breadcrumbs %}
    {% if loop.last %}
      <li class="breadcrumbs__item">{{ breadcrumb }}</li>
    {% else %}
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">{{ breadcrumb }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
