<script src="./assets/libs/js/svg4everybody.min.js"></script>
<script src="./assets/libs/js/swiper-bundle.min.js"></script>
<script src="./assets/libs/js/wow.min.js"></script>
<script src="./assets/libs/js/lazyload.min.js"></script>
<script src="./assets/libs/js/imask.min.js"></script>
<script src="./assets/libs/js/sweetalert2.min.js"></script>
<script src="./assets/libs/js/nouislider.min.js"></script>
<script src="./assets/libs/js/wNumb.min.js"></script>
<script src="./assets/scripts/app.min.js"></script>
</body>
</html>
