.product-characteristics {
  h2 {
    @extend %text-36;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 3rem;

    @media (max-width: $md) {
      font-size: 2.2rem;
      line-height: 4rem;
    }
  }

  ul {
    @extend %text-16;

    li {
      position: relative;
      padding-left: 2rem;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: var(--green);
        content: '';
        width: 0.6rem;
        height: 0.6rem;
      }
    }
  }

  &__img {
    @extend %cover;
  }

  &__video-block {
    position: relative;
  }

  &__play-icon {
    position: absolute;

    @extend %pos-center-xy;
    width: 14rem;
    height: 15.4rem;
    fill: transparent;
    stroke: var(--white);
    cursor: pointer;

    @media (max-width: $md) {
      width: 10rem;
      height: 6rem;
    }
  }

  .swal2-styled.swal2-default-outline:focus {
    box-shadow: none !important;
  }
}

.video-iframe {
  width: 100%;
  height: 60rem;
}
