<h2>Для групп товаров, представленных на сайте Н2</h2>
<ul class="pb6">
  <li>
    Краткую характеристику бренда, его доля в процентах и деньгах среди товарных и ценовых аналогов на рынке Украины
  </li>
  <li>
    Квартальный оборот по предыдущим периодам в различных типах реализации (онлайн, офлайн, опт)
  </li>
  <li>
    Предполагаемый оборот с учетом сезонности
  </li>
  <li>
    Список конкурирующих брендов — их доля на рынке Украины
  </li>
  <li>
    Список конкурирующих продуктов — их доля на рынке Украины
  </li>
  <li>
    Маркетинговый фонд на развитие бренда со стороны поставщика и Бренда
  </li>
  <li>
    Маржинальность и степень надежности фиксированных цен на рынке
  </li>
  <li>
    Указать преимущественные характеристики бренда, слабые и сильные стороны
  </li>
</ul>