{% include "../blocks/head/head.twig" %}
<main class="progress">
  <div class="container">
    <ul class="progress__list">
      <li class="progress__item">
        <a class="progress__link" href="./header.html" target="_blank">Хэдер до авторизации</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./header-auth.html" target="_blank">Хэдер после авторизации</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./signup.html" target="_blank">Попап регистрация</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./signin.html" target="_blank">Попап авторизация</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./passw-recovery.html" target="_blank">Попап восстановление пароля</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./main.html" target="_blank">Главная</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./catalog.html" target="_blank">Каталог</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./basket.html" target="_blank">Корзина</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./ordering.html" target="_blank">Оформление заказа</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./favourites.html" target="_blank">Избранное</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./about.html" target="_blank">О нас</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./contacts.html" target="_blank">Контакты</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./action.html" target="_blank">Акции</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./action-text.html" target="_blank">Акции текстовая</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./partners.html" target="_blank">Партнеры</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./404.html" target="_blank">404</a>
      </li>
    </ul>
  </div>
</main>
{% include "../blocks/link/link.twig" %}