{% include "../blocks/head/head.twig" %}
<main class="progress">
  <div class="container">
    <ul class="progress__list">
      <li class="progress__item">
        <a class="progress__link" href="./header.html" target="_blank">Хэдер до авторизации</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./header-auth.html" target="_blank">Хэдер после авторизации</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./signup.html" target="_blank">Попап регистрация</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./signin.html" target="_blank">Попап авторизация</a>
      </li>
      <li class="progress__item">
        <a class="progress__link" href="./passw-recovery.html" target="_blank">Попап восстановление пароля</a>
      </li>
    </ul>
  </div>
</main>
{% include "../blocks/link/link.twig" %}