{% extends "../blocks/layout/base.twig" %}
{% block content %}
{% include "../blocks/header/header.twig" with {
  header: {
    auth: false,
  }
} %}
<main class="ordering pt8">
  <div class="container">
    {% include "../blocks/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        item1: 'Главная',
        item2: 'Личный кабинет',
        item3: 'Корзина',
        item4: 'Оформление заказа'
      }
    } %}
    <section class="ordering-section pb15 js-catalog-filter">
      <h1 class="section-title">Оформление заказа</h1>
      {% include "../blocks/contacts-form/contacts-form.twig" %}
    </section>
  </div>
</main>
{% include "../blocks/footer/footer.twig" %}
{% endblock %}