{% extends "../blocks/layout/base.twig" %}
{% block content %}
{% include "../blocks/popups/popups.twig" with {
  popup: {
    sign: true,
    id: "callback-popup",
    class: "callback-popup",
    title: "Позвоните нам",
    btnText: "Отправить",
    isPhone: true,
    placeholderPhone: "Ваш телефон",
    isSubtitle: true,
    subtitleText: "Оставьте заявку, и мы свяжемся с вами в ближайшее время",
    isName: true,
    placeholderName: "Представьтесь",
  }
} %}
{% include "../blocks/header/header.twig" with {
  header: {
    auth: false,
    isAboutPage: true,
  }
} %}
<main class="partners pt8">
  <div class="container">
    {% include "../blocks/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        item1: 'Главная',
        item2: 'О нас',
        item3: 'Партнеры',
      }
    } %}
    <section class="partners__info pb6">
      <h1 class="section-title">Партнеры</h1>
      <div class="partners__info-wrap pb6">
        <picture>
          <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/about/01.webp">
          <img class="lazy partners__info-img" src="./assets/images/pixel.png" data-src="./assets/images/about/01.jpg" alt="img">
        </picture>
        <div class="partners__info-content">
          <h2 class="partners__info-title">
            <span>BRANDO</span>
            маркетплейс Н1
          </h2>
          <div class="partners__info-descr">
            Мы расширяем ассортимент fashion и lifestyle-брендов на маркетплейс. Продавайте товары на прозрачных условиях вместе с другими официальными брендами
          </div>
          <button class="partners__info-btn js-callback-btn">Стать партнером</button>
          <ol class="partners__info-list">
            <li class="partners__info-item">
              <span class="partners__info-num">01</span>
              <div class="partners__list-title">Наша специализация fashion и lifestyle</div>
              <div class="partners__list-descr">
                Высокий средний чек, соседство с официальными брендами, коллекции текущих сезонов, лояльная клиентская база
              </div>
            </li>
            <li class="partners__info-item">
              <span class="partners__info-num">02</span>
              <div class="partners__list-title">Партнерский подход</div>
              <div class="partners__list-descr">
                Услуги колл-центра, профессиональное сопровождение клиентских заказов на каждом этапе, оперативное решение всех клиентских запросов.
              </div>
            </li>
            <li class="partners__info-item">
              <span class="partners__info-num">03</span>
              <div class="partners__list-title">Быстрое подключение</div>
              <div class="partners__list-descr">
                Подключение партнеров под ключ, 95% работ по запуску мы берем на себя
              </div>
            </li>
          </ol>
        </div>
      </div>
      <div class="block-text">
        <p>
          Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации систем массового участия.
        </p>
        <p>
          Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям.
        </p>
        <p>
          Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения новых предложений. Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании новых предложений.
        </p>
      </div>
    </section>
    <section class="product-characteristics pb6">
      <h2>Для групп товаров, представленных на сайте Н2</h2>
      <ul>
        <li>
          Краткую характеристику бренда, его доля в процентах и деньгах среди товарных и ценовых аналогов на рынке Украины
        </li>
        <li>
          Квартальный оборот по предыдущим периодам в различных типах реализации (онлайн, офлайн, опт)
        </li>
        <li>
          Предполагаемый оборот с учетом сезонности
        </li>
        <li>
          Список конкурирующих брендов — их доля на рынке Украины
        </li>
        <li>
          Список конкурирующих продуктов — их доля на рынке Украины
        </li>
        <li>
          Маркетинговый фонд на развитие бренда со стороны поставщика и Бренда
        </li>
        <li>
          Маржинальность и степень надежности фиксированных цен на рынке
        </li>
        <li>
          Указать преимущественные характеристики бренда, слабые и сильные стороны
        </li>
      </ul>
    </section>
    <section class="partners__service pb6">
      <h2 class="partners__service-title">Полный цикл интернет-услуг для вашего бренда Н3</h2>
      <div class="swiper js-service-slider partners__service-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/about/04.webp">
              <img class="lazy partners__service-img" src="./assets/images/pixel.png" data-src="./assets/images/about/04.jpg" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/about/05.webp">
              <img class="lazy partners__service-img" src="./assets/images/pixel.png" data-src="./assets/images/about/05.jpg" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/about/06.webp">
              <img class="lazy partners__service-img" src="./assets/images/pixel.png" data-src="./assets/images/about/06.jpg" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/about/07.webp">
              <img class="lazy partners__service-img" src="./assets/images/pixel.png" data-src="./assets/images/about/04.jpg" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/about/08.webp">
              <img class="lazy partners__service-img" src="./assets/images/pixel.png" data-src="./assets/images/about/05.jpg" alt="img">
            </picture>
          </div>
        </div>
        <div class="swiper-button-next">
          <svg class="partners__service-arrow" viewBox="0 0 100 100">
            <use xlink:href="./assets/images/sprite.svg#arrow-next"></use>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg class="partners__service-arrow" viewBox="0 0 100 100">
            <use xlink:href="./assets/images/sprite.svg#arrow-prev"></use>
          </svg>
        </div>
      </div>
    </section>
    <section class="significance pb6">
      <h2>Для групп товаров, представленных на сайте Н4</h2>
      <div>
        Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения новых предложений. Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании новых предложений.
      </div>
    </section>
    <section class="possibilities pb15">
      <h2 class="possibilities__title">
        Для групп товаров, не представленных на сайте Н5
      </h2>
      <ul class="possibilities__list">
        <li class="possibilities__list-item">
          <span class="possibilities__span">
            1
          </span>
          Предоставить образцы продукции
        </li>
        <li class="possibilities__list-item">
          <span class="possibilities__span">
            2
          </span>
          Кредитные условия
        </li>
        <li class="possibilities__list-item">
          <span class="possibilities__span">
            3
          </span>
          Формы оплаты
        </li>
        <li class="possibilities__list-item">
          <span class="possibilities__span">
            4
          </span>
          Сервисное обслуживание, возможность возврата
        </li>
        <li class="possibilities__list-item">
          <span class="possibilities__span">
            5
          </span>
          Возможность проведения тренингов
        </li>
        <li class="possibilities__list-item">
          <span class="possibilities__span">
            6
          </span>
          Описание товаров в электронном виде
        </li>
      </ul>
    </section>
    <section class="partners__socials pb15">
      <h2 class="partners__socials-title">Мы в социальных сетях</h2>
      <div class="partners__socials-wrap">
        <div class="partners__socials-item">
          <picture>
            <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/partners/01.webp">
            <img class="lazy partners__socials-img" src="./assets/images/pixel.png" data-src="./assets/images/partners/01.jpg" alt="img">
          </picture>
          <a href="#" class="partners__socials-text">
            Instagram
            <svg class="partners__socials-arrow" viewBox="0 0 100 100">
              <use xlink:href="./assets/images/sprite.svg#arrow-next"></use>
            </svg>
          </a>
          <div class="partners__socials-label">
            <svg class="partners__socials-icon" viewBox="0 0 100 100">
              <use xlink:href="./assets/images/sprite.svg#insta"></use>
            </svg>
          </div>
        </div>
        <div class="partners__socials-item">
          <picture>
            <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/partners/02.webp">
            <img class="lazy partners__socials-img" src="./assets/images/pixel.png" data-src="./assets/images/partners/02.jpg" alt="img">
          </picture>
          <a href="#" class="partners__socials-text">
            Vk
            <svg class="partners__socials-arrow" viewBox="0 0 100 100">
              <use xlink:href="./assets/images/sprite.svg#arrow-next"></use>
            </svg>
          </a>
          <div class="partners__socials-label">
            <svg class="partners__socials-icon" viewBox="0 0 100 100">
              <use xlink:href="./assets/images/sprite.svg#vk"></use>
            </svg>
          </div>
        </div>
        <div class="partners__socials-item">
          <picture>
            <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/partners/03.webp">
            <img class="lazy partners__socials-img" src="./assets/images/pixel.png" data-src="./assets/images/partners/03.jpg" alt="img">
          </picture>
          <a href="#" class="partners__socials-text">
            Facebook
            <svg class="partners__socials-arrow" viewBox="0 0 100 100">
              <use xlink:href="./assets/images/sprite.svg#arrow-next"></use>
            </svg>
          </a>
          <div class="partners__socials-label">
            <svg class="partners__socials-icon" viewBox="0 0 100 100">
              <use xlink:href="./assets/images/sprite.svg#fb"></use>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <section class="partners__brands pb15">
      <h2 class="partners__brands-title">Больше <span>500</span> брендов уже с нами</h2>
      {% include "../blocks/brands-slider/brands-slider.twig" %}
    </section>
  </div>
</main>
{% include "../blocks/footer/footer.twig" %}
{% endblock %}
