{% extends "../blocks/layout/base.twig" %}
{% block content %}
{% include "../blocks/header/header.twig" with {
  header: {
    auth: false,
    isCatalogPage: true,
  }
} %}
<main class="card-page pt8">
  <div class="container">
    {% include "../blocks/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        item1: 'Главная',
        item2: 'Каталог',
        item3: 'Обувь',
        item4: 'SCHUTZ',
        item5: 'Женские зеленые кожаные сапоги Schutz 2457448',
      }
    } %}
    <article class="card-page__product">
      <div class="card-page__slider-block">
        <div class="swiper galleryThumbs card-page__gallery-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="./assets/images/pixel.png" data-srcset="./assets/images/card/01_s.webp" type="image/webp">
                <img alt="img" class="card-page__slider-img lazy" src="./assets/images/pixel.png" data-src="./assets/images/card/01_s.jpg" />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./assets/images/pixel.png" data-srcset="./assets/images/card/02_s.webp" type="image/webp">
                <img alt="img" class="card-page__slider-img lazy" src="./assets/images/pixel.png" data-src="./assets/images/card/02_s.jpg" />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./assets/images/pixel.png" data-srcset="./assets/images/card/03_s.webp" type="image/webp">
                <img alt="img" class="card-page__slider-img lazy" src="./assets/images/pixel.png" data-src="./assets/images/card/03_s.jpg" />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./assets/images/pixel.png" data-srcset="./assets/images/card/04_s.webp" type="image/webp">
                <img alt="img" class="card-page__slider-img lazy" src="./assets/images/pixel.png" data-src="./assets/images/card/04_s.jpg" />
              </picture>
            </div>
          </div>
          <div class="swiper-button-next">
            <svg class="card-page__btn" viewBox="0 0 100 100">
              <use xlink:href="./assets/images/sprite.svg#arrow-top"></use>
            </svg>
          </div>
          <div class="swiper-button-prev">
            <svg class="card-page__btn" viewBox="0 0 100 100">
              <use xlink:href="./assets/images/sprite.svg#arrow-bottom"></use>
            </svg>
          </div>
        </div>
        <div class="swiper galleryMain card-page__gallery-main">
          <div class="swiper-wrapper">
            <div class="swiper-slide card-page__gallery-main-slide">
              <span class="card-page__gallery-label">trend</span>
              <a class="glightbox card-page__img-link" data-gallery="gallery" href="./assets/images/card/01.jpg">
                <picture>
                  <source srcset="./assets/images/pixel.png" data-srcset="./assets/images/card/01.webp" type="image/webp">
                  <img alt="img" class="card-page__slider-img lazy" src="./assets/images/pixel.png" data-src="./assets/images/card/01.jpg"/>
                </picture>
              </a>
            </div>
            <div class="swiper-slide card-page__gallery-main-slide">
              <span class="card-page__gallery-label">trend</span>
              <a class="glightbox card-page__img-link" data-gallery="gallery" href="./assets/images/card/01.jpg">
                <picture>
                  <source srcset="./assets/images/pixel.png" data-srcset="./assets/images/card/01.webp" type="image/webp">
                  <img alt="img" class="card-page__slider-img lazy" src="./assets/images/pixel.png" data-src="./assets/images/card/01.jpg"/>
                </picture>
              </a>
            </div>
            <div class="swiper-slide card-page__gallery-main-slide">
              <span class="card-page__gallery-label">trend</span>
              <a class="glightbox card-page__img-link" data-gallery="gallery" href="./assets/images/card/01.jpg">
                <picture>
                  <source srcset="./assets/images/pixel.png" data-srcset="./assets/images/card/01.webp" type="image/webp">
                  <img alt="img" class="card-page__slider-img lazy" src="./assets/images/pixel.png" data-src="./assets/images/card/01.jpg"/>
                </picture>
              </a>
            </div>
            <div class="swiper-slide card-page__gallery-main-slide">
              <span class="card-page__gallery-label">trend</span>
              <a class="glightbox card-page__img-link" data-gallery="gallery" href="./assets/images/card/01.jpg">
                <picture>
                  <source srcset="./assets/images/pixel.png" data-srcset="./assets/images/card/01.webp" type="image/webp">
                  <img alt="img" class="card-page__slider-img lazy" src="./assets/images/pixel.png" data-src="./assets/images/card/01.jpg"/>
                </picture>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-page__product-content">
        <div class="card-page__product-wrap">
          <div class="card-page__product-header">
            <div class="card-page__product-brand">SCHUTZ</div>
            <h1 class="card-page__product-title">Женские зеленые кожаные сапоги</h1>
          </div>
          <div class="card-page__product-prices">
            <span class="card-page__current-price">2 350 ₽</span>
            <span class="card-page__old-price">3 200 ₽</span>
          </div>
          <form action="/" class="card-page__form">
            <div class="card-page__form-top">
              <div class="card-page__sizes">
                <div class="card-page__sizes-inner">
                  <p class="card-page__sizes-title">Размер</p>
                  <div class="card-page__sizes-block">
                    {% include "../blocks/catalog-filter/checkboxes/checkbox-size.twig" with {
                      checkboxes: {
                        items: [
                          {
                            size: "35",
                          },
                          {
                            size: "36",
                            disabled: true,
                          },
                          {
                            size: "37",
                            disabled: true,
                          },
                          {
                            size: "38",
                          },
                          {
                            size: "39",
                          },
                          {
                            size: "40",
                          },
                        ]
                      }
                    } %}
                  </div>
                </div>
                <button class="card-page__sizes-btn">
                  Таблица размеров
                </button>
              </div>
            </div>
            <div class="card-page__form-bottom"></div>
          </form>
        </div>
      </div>
    </article>
    {% include "../blocks/viewed-products/viewed-products.twig" %}
  </div>
</main>
{% include "../blocks/footer/footer.twig" %}
{% endblock %}
