{% extends "../blocks/layout/base.twig" %}
{% block content %}
{% include "../blocks/header/header.twig" with {
  header: {
    auth: false,
  }
} %}
<main class="ordering pt8">
  <div class="container">
    {% include "../blocks/breadcrumbs/breadcrumbs.twig" with {
      breadcrumbs: {
        item1: 'Главная',
        item2: 'Личный кабинет',
        item3: 'Мой профиль',
      }
    } %}
    <section class="ordering-section pb15 js-catalog-filter">
      <h1 class="section-title">Мой профиль</h1>
      {% include "../blocks/contacts-form/contacts-form.twig" with {
        form: {
          class: "profile",
          datepickerInGrid: true,
          genderBlock: true,
          entryBlock: true,
          policyBlock: true,
        }
      } %}
    </section>
  </div>
</main>
{% include "../blocks/footer/footer.twig" %}
{% endblock %}