<label class="label">
  <input name="{{ radio.name }}" class="input radio {{ radio.class -}}" type="radio">
  <span class="radio-style">
    <span></span>
  </span>
  <span class="radio-style-text">{{ radio.text }}</span>
</label>