{% for checkbox in checkboxes.items %}
  <label class="label">
    <input class="input checkbox-color" type="checkbox">
    <div class="checkbox-color-wrap">
      <span class="checkbox-color-style checkbox-color-style--{{ checkbox.color }}"></span>
    </div>
    {% if checkbox.text %}
      <span class="checkbox-color-style-text">{{ checkbox.text }}</span>
    {% endif %}
    {% if checkbox.alert %}
    <div class="alert">
      {{ checkbox.alert }}
      <div class="alert__triangle"></div>
    </div>
    {% endif %}
  </label>
{% endfor %}