{% for checkbox in checkboxes %}
  <label class="label">
    <input class="input checkbox" type="checkbox">
    <span class="checkbox-style"></span>
    <span class="checkbox-style-text">{{ checkbox }}</span>
  </label>
{% endfor %}