<div class="timer js-timer">
  <div class="timer__item">
    <span id="days" class="timer__num">20</span>
    <span id="daysText" class="timer__text">дней</span>
  </div>
  <div class="timer__item">
    <span id="hours" class="timer__num">12</span>
    <span id="hoursText" class="timer__text">часов</span>
  </div>
  <div class="timer__item">
    <span id="minutes" class="timer__num">34</span>
    <span id="minutesText" class="timer__text">минуты</span>
  </div>
  <div class="timer__item">
    <span id="seconds" class="timer__num">56</span>
    <span id="secondsText" class="timer__text">секунд</span>
  </div>
</div>
