<section class="pb15">
  <h2 class="section-title">Просмотренные товары</h2>
  <div class="swiper js-viewed-products-slider viewed-products-slider">
    <div class="swiper-wrapper">
      {% include "../product-card/product-card.twig" with {
        card: {
          items: [
            {
              title: "PEPE JEANS",
              descr: "женские черные ботинки BOBBING CITY",
              currentPrice: "2 350 ₽",
              currentPriceColor: "green",
              label: "new",
              labelColor: "green",
              jpgImg: "./assets/images/product-card/01.jpg",
              webpImg: "./assets/images/product-card/01.webp",
            },
            {
              title: "Baldinni",
              descr: "женские красные лодочки",
              currentPrice: "10 550 ₽",
              currentPriceColor: "green",
              jpgImg: "./assets/images/product-card/02.jpg",
              webpImg: "./assets/images/product-card/02.webp",
            },
            {
              title: "PEPE JEANS",
              descr: "женские черные ботинки BOBBING CITY",
              currentPrice: "2 350 ₽",
              currentPriceColor: "red",
              oldPrice: "3 200 ₽",
              label: "sale",
              labelColor: "red",
              jpgImg: "./assets/images/product-card/03.jpg",
              webpImg: "./assets/images/product-card/03.webp",
            },
            {
              title: "SCHUTZ",
              descr: "женские зеленые кожаные лодочки",
              currentPrice: "8 350 ₽",
              currentPriceColor: "green",
              jpgImg: "./assets/images/product-card/04.jpg",
              webpImg: "./assets/images/product-card/04.webp",
            },
          ]
        }
      } %}
    </div>
    <div class="swiper-button-next viewed-products-slider__btn viewed-products-slider__btn-next">
      <svg class="product-card__arrow-icon" viewBox="0 0 100 100">
        <use xlink:href="./assets/images/sprite.svg#arrow-next"></use>
      </svg>
    </div>
    <div class="swiper-button-prev viewed-products-slider__btn viewed-products-slider__btn-prev">
      <svg class="product-card__arrow-icon" viewBox="0 0 100 100">
        <use xlink:href="./assets/images/sprite.svg#arrow-prev"></use>
      </svg>
    </div>
  </div>
</section>
