<div class="counter">
  <button class="counter__minus-btn counter__btn js-minus-btn">
    <svg class="counter__icon counter__minus-icon" viewBox="0 0 100 100">
      <use xlink:href="./assets/images/sprite.svg#minus"></use>
    </svg>
  </button>
  <span class="counter__value">1</span>
  <button class="counter__plus-btn counter__btn js-plus-btn">
    <svg class="counter__icon" viewBox="0 0 100 100">
      <use xlink:href="./assets/images/sprite.svg#plus"></use>
    </svg>
  </button>
</div>
