<header class="header">
  <div class="container header__container">
    <div class="header__burger">
      <span class="header__burger-item"></span>
      <span class="header__burger-item"></span>
      <span class="header__burger-item"></span>
    </div>
    <div class="header__start">
      <a class="header__logo-link" href="#">
        <img class="header__logo" src="./assets/images/icons/logo.svg" alt="logo">
      </a>
    </div>
    <div class="header__center">
      <nav class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a href="#" class="header__menu-link">Каталог</a>
          </li>
          <li class="header__menu-item">
            <a href="#" class="header__menu-link">О нас</a>
          </li>
          <li class="header__menu-item">
            <a href="#" class="header__menu-link">Акции</a>
          </li>
          <li class="header__menu-item">
            <a href="#" class="header__menu-link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__end">

      {% if header.auth %}
        <div class="header__cabinet-wrap js-cabinet-btn">
          <button class="header__cabinet-btn">
            <svg class="header__icon header__login-icon" viewBox="0 0 100 100">
              <use xlink:href="./assets/images/sprite.svg#login"></use>
            </svg>
          </button>
          <div class="header__cabinet-block">
            <svg class="header__icon header__cabinet-icon" viewBox="0 0 100 100">
              <use xlink:href="./assets/images/sprite.svg#user"></use>
            </svg>
            <div class="header__cabinet-inner">
              <span class="header__cabinet-text">Личный кабинет</span>
              <span class="header__cabinet-name">Анастасии Игоревны</span>
            </div>
          </div>
          {% include "../popups/popups.twig" with {
            popup: {
              cabinetPopup: true,
            }
          } %}
        </div>
      {% else %}
        <button class="header__entry-btn header__btn" data-popup="#signin-popup">
          <svg class="header__icon" viewBox="0 0 100 100">
            <use xlink:href="./assets/images/sprite.svg#user"></use>
          </svg>
        </button>
      {% endif %}

      <a href="#" class="header__favourite">
        <svg class="header__icon header__favourite-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#heart"></use>
        </svg>
        <div class="header__favourite-num header__nums">
          <span>12</span>
        </div>
      </a>
      <a href="#" class="header__basket">
        <svg class="header__icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#basket"></use>
        </svg>
        <div class="header__basket-num header__nums">
          <span>4</span>
        </div>
      </a>
    </div>
  </div>
</header>
