<div class="burger-menu burger-menu--main js-burger-menu">
  <aside class="burger-menu__sidebar">
    <form class="burger-menu__search burger-menu__sidebar-search">
      <input class="burger-menu__search-input" type="text" placeholder="Поиск">
      <button class="burger-menu__search-btn burger-menu__sidebar-search-btn" type="submit">
        <svg class="burger-menu__search-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#loupe"></use>
        </svg>
      </button>
    </form>
    <button class="burger-menu__close-btn js-burger-close">
      <svg class="burger-menu__close-icon" viewBox="0 0 100 100">
        <use xlink:href="./assets/images/sprite.svg#popup-close"></use>
      </svg>
    </button>
    <div class="burger-menu__logo-wrap">
      <img class="burger-menu__logo" src="./assets/images/icons/burger-logo.svg" alt="logo">
    </div>
    <ul class="burger-menu__sidebar-list">
      <li class="burger-menu__sidebar-item">
        <a href="#women" class="burger-menu__link burger-menu__link--bold burger-menu__link--first-child">Женщинам</a>
        <a href="#men" class="burger-menu__link burger-menu__link--gray">Мужчинам</a>
      </li>
      <li class="burger-menu__sidebar-item">
        <a href="#catalog" class="burger-menu__link burger-menu__link--bold">Каталог</a>
        <button class="burger-menu__link-btn js-submenu-btn">
          <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
            <use xlink:href="./assets/images/sprite.svg#burger-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="burger-menu__sidebar-item">
        <a href="#about" class="burger-menu__link burger-menu__link--bold">О нас</a>
      </li>
      <li class="burger-menu__sidebar-item">
        <a href="#discounts" class="burger-menu__link burger-menu__link--bold">Скидки</a>
      </li>
      <li class="burger-menu__sidebar-item">
        <a href="#new" class="burger-menu__link burger-menu__link--bold">Новинки</a>
      </li>
      <li class="burger-menu__sidebar-item">
        <a href="#actions" class="burger-menu__link burger-menu__link--bold burger-menu__link--red">Акции</a>
      </li>
      <li class="burger-menu__sidebar-item">
        <a href="#contacts" class="burger-menu__link burger-menu__link--bold">Контакты</a>
      </li>

      <ul class="burger-menu__sidebar-inner-list">

        <ul class="burger-menu__sidebar-inner-item">
          <li class="burger-menu__sidebar-item">
            <a href="#" class="burger-menu__link">Размерная сетка</a>
          </li>
          <li class="burger-menu__sidebar-item">
            <a href="#" class="burger-menu__link">Условия возврата и обмена</a>
          </li>
          <li class="burger-menu__sidebar-item">
            <a href="#" class="burger-menu__link">Политика конфиденциальности</a>
          </li>
          <li class="burger-menu__sidebar-item">
            <a href="#" class="burger-menu__link">Способы оплаты</a>
          </li>
        </ul>

        <ul class="burger-menu__sidebar-inner-item">
          <li class="burger-menu__sidebar-item">
            <a href="#" class="burger-menu__link">Способы доставки</a>
          </li>
          <li class="burger-menu__sidebar-item">
            <a href="#" class="burger-menu__link">Самовывоз Красноярск</a>
          </li>
          <li class="burger-menu__sidebar-item">
            <a href="#" class="burger-menu__link">Партнеры</a>
          </li>
          <li class="burger-menu__sidebar-item">
            <a href="#" class="burger-menu__link">Юридический раздел</a>
          </li>
          <li class="burger-menu__sidebar-item">
            <a href="#" class="burger-menu__link">Полезная информация</a>
          </li>
        </ul>
      </ul>

    </ul>
    <button class="burger-menu__btn js-callback-btn">Связаться с нами</button>
  </aside>
  <main class="burger-menu__main">
    <form class="burger-menu__search">
      <input class="burger-menu__search-input" type="text" placeholder="Поиск">
      <button class="burger-menu__search-btn" type="submit">
        <svg class="burger-menu__search-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#loupe"></use>
        </svg>
      </button>
    </form>

    <div class="swiper js-burger-menu-slider burger-menu__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="burger-menu__slide-content">
            <div class="burger-menu__slide-img-block">
              <picture>
                <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/burger-menu/01.webp">
                <img class="lazy burger-menu__slide-img" src="./assets/images/pixel.png" data-src="./assets/images/burger-menu/01.jpg" alt="img">
              </picture>
            </div>
            <div class="burger-menu__slide-content-block">
              Новая коллекция ”20-”21
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="burger-menu__slide-content">
            <div class="burger-menu__slide-img-block">
              <picture>
                <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/burger-menu/01.webp">
                <img class="lazy burger-menu__slide-img" src="./assets/images/pixel.png" data-src="./assets/images/burger-menu/01.jpg" alt="img">
              </picture>
            </div>
            <div class="burger-menu__slide-content-block">
              Новая коллекция ”20-”21
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="burger-menu__slide-content">
            <div class="burger-menu__slide-img-block">
              <picture>
                <source type="image/webp" srcset="./assets/images/pixel.png" data-srcset="./assets/images/burger-menu/01.webp">
                <img class="lazy burger-menu__slide-img" src="./assets/images/pixel.png" data-src="./assets/images/burger-menu/01.jpg" alt="img">
              </picture>
            </div>
            <div class="burger-menu__slide-content-block">
              Новая коллекция ”20-”21
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next">
        <svg class="burger-menu__slider-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#arrow-next"></use>
        </svg>
      </div>
    </div>

    <div class="burger-menu__categories">
      <ul class="burger-menu__categories-list">
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link burger-menu__link--bold">
            Обувь
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Ботинки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Кроссовки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Сапоги
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Туфли
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Вся обувь
          </a>
        </li>
      </ul>

      <ul class="burger-menu__categories-list">
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link burger-menu__link--bold">
            Сумки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Багаж
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Клатчи
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Кошельки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Поясные сумки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Рюкзаки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Спортивные сумки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Сумки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Сумки для ноутбука
          </a>
        </li>
      </ul>

      <ul class="burger-menu__categories-list">
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link burger-menu__link--bold">
            Одежда
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Брюки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Верхняя одежда
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Джинсы
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Кардиганы и кофты
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Платья
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Трикотаж
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Юбки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Вся одежда
          </a>
        </li>
      </ul>

      <ul class="burger-menu__categories-list">
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link burger-menu__link--bold">
            Аксессуары
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Головные уборы
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Другие аксессуары
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Защитные маски
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Очки и оправы
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Ремни и подтяжки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Сумки и рюкзаки
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Украшения
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Часы
          </a>
        </li>
      </ul>

      <ul class="burger-menu__categories-list">
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link burger-menu__link--bold">
            Уходовая косметика
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Для одежды
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Для обуви
          </a>
        </li>
        <li class="burger-menu__categories-item">
          <a href="#" class="burger-menu__categories-link">
            Для аксессуаров
          </a>
        </li>
      </ul>
    </div>

    {% include "../../blocks/brands-slider/brands-slider.twig" %}
  </main>
</div>

<div class="burger-menu burger-submenu">
  <ul class="burger-menu__sidebar-list">
    <li class="burger-menu__sidebar-item">
      <button class="burger-menu__link-btn js-submenu-btn">
        <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#burger-arrow-opposite"></use>
        </svg>
      </button>
      <a href="#cat" class="burger-menu__link burger-menu__link--bold">Каталог</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#1" class="burger-menu__link burger-menu__link--bold">Обувь</a>
      <button class="burger-menu__link-btn" data-submenu="submenu1">
        <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#burger-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Сумки</a>
      <button class="burger-menu__link-btn" data-submenu="submenu2">
        <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#burger-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#3" class="burger-menu__link burger-menu__link--bold">Одежда</a>
      <button class="burger-menu__link-btn" data-submenu="submenu3">
        <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#burger-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#4" class="burger-menu__link burger-menu__link--bold">Аксессуары</a>
      <button class="burger-menu__link-btn" data-submenu="submenu4">
        <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#burger-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#5" class="burger-menu__link burger-menu__link--bold">Уходовая косметика</a>
      <button class="burger-menu__link-btn" data-submenu="submenu5">
        <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#burger-arrow"></use>
        </svg>
      </button>
    </li>

  </ul>
</div>

{# submenu1 #}
<div id="submenu1" class="burger-menu burger-submenu js-addsubmenu">
  <ul class="burger-menu__sidebar-list">
    <li class="burger-menu__sidebar-item">
      <button class="burger-menu__link-btn">
        <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#burger-arrow-opposite"></use>
        </svg>
      </button>
      <a href="#cat" class="burger-menu__link burger-menu__link--bold">Обувь</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#1" class="burger-menu__link burger-menu__link--bold">Ботинки</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Ботильоны</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Кроссовки</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Сапоги</a>
    </li>
  </ul>
</div>

{# submenu2 #}
<div id="submenu2" class="burger-menu burger-submenu js-addsubmenu">
  <ul class="burger-menu__sidebar-list">
    <li class="burger-menu__sidebar-item">
      <button class="burger-menu__link-btn">
        <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#burger-arrow-opposite"></use>
        </svg>
      </button>
      <a href="#cat" class="burger-menu__link burger-menu__link--bold">Сумки</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#1" class="burger-menu__link burger-menu__link--bold">Багаж</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Клатчи</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Кошельки</a>
    </li>
  </ul>
</div>

{# submenu3 #}
<div id="submenu3" class="burger-menu burger-submenu js-addsubmenu">
  <ul class="burger-menu__sidebar-list">
    <li class="burger-menu__sidebar-item">
      <button class="burger-menu__link-btn">
        <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#burger-arrow-opposite"></use>
        </svg>
      </button>
      <a href="#cat" class="burger-menu__link burger-menu__link--bold">Одежда</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#1" class="burger-menu__link burger-menu__link--bold">Брюки</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Верхняя одежда</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Джинсы</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Платья</a>
    </li>
  </ul>
</div>

{# submenu4 #}
<div id="submenu4" class="burger-menu burger-submenu js-addsubmenu">
  <ul class="burger-menu__sidebar-list">
    <li class="burger-menu__sidebar-item">
      <button class="burger-menu__link-btn">
        <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#burger-arrow-opposite"></use>
        </svg>
      </button>
      <a href="#cat" class="burger-menu__link burger-menu__link--bold">Аксессуары</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#1" class="burger-menu__link burger-menu__link--bold">Головные уборы</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Другие аксессуары</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Защитные маски</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Очки и оправы</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Ремни и подтяжки</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Сумки и рюкзаки</a>
    </li>
  </ul>
</div>

{# submenu5 #}
<div id="submenu5" class="burger-menu burger-submenu js-addsubmenu">
  <ul class="burger-menu__sidebar-list">
    <li class="burger-menu__sidebar-item">
      <button class="burger-menu__link-btn">
        <svg class="burger-menu__link-icon" viewBox="0 0 100 100">
          <use xlink:href="./assets/images/sprite.svg#burger-arrow-opposite"></use>
        </svg>
      </button>
      <a href="#cat" class="burger-menu__link burger-menu__link--bold">Уходовая косметика</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#1" class="burger-menu__link burger-menu__link--bold">Для одежды</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Для обуви</a>
    </li>
    <li class="burger-menu__sidebar-item">
      <a href="#2" class="burger-menu__link burger-menu__link--bold">Для аксессуаров</a>
    </li>
  </ul>
</div>