.footer {
  background: var(--black);
  padding: 10rem 2rem 4rem;

  > * {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  @media (max-width: $md) {
    padding: 4rem 2rem;
  }

  @media (max-width: $sm) {
    padding: 4rem 2rem 2rem;
  }

  &__top {
    @extend %flex-between;

    @media (max-width: $lg) {
      flex-direction: column;

      > * {
        &:not(:last-child) {
          margin-bottom: 4rem;
        }
      }
    }
  }

  &__top-start {
    @extend %flex-center-y;

    > * {
      &:not(:last-child) {
        margin-right: 4rem;

        @media (max-width: $md) {
          margin-right: 0;
          margin-bottom: 2rem;
        }
      }
    }

    @media (max-width: $lg) {
      order: 1;
    }

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__top-middle {
    @media (max-width: $lg) {
      order: 0;
    }
  }

  &__top-end {
    @extend %flex-center-y;

    > * {
      &:not(:last-child) {
        margin-right: 4rem;

        @media (max-width: $md) {
          margin-right: 0;
          margin-bottom: 2rem;
        }
      }
    }

    @media (max-width: $lg) {
      order: 2;
    }

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__logo {
    width: 48.6rem;
    height: 12rem;

    @media (max-width: $md) {
      width: 24.3rem;
      height: 6rem;
    }
  }

  &__socials {
    display: flex;

    > * {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__social-link {
    width: 5rem;
    height: 5rem;
    background-color: var(--gray2);
    border: 0.1rem solid transparent;
    transition: all 0.3s;

    @extend %flex-center-xy;

    &:hover {
      background-color: transparent;
      border: 0.1rem solid var(--gray2);

      .footer__social-icon {
        fill: var(--green);
      }
    }

    &:active {
      border: 0.1rem solid var(--green);
    }
  }

  &__social-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--white);
    transition: fill 0.3s;
  }

  &__info {
    &--right {
      @extend %flex-column;
      align-items: flex-end;

      @media (max-width: $md) {
        align-items: flex-start;
      }
    }
  }

  &__info-item {
    @extend %text-16;
    @extend %flex-center-y;
    color: var(--white);

    > * {
      &:not(:last-child) {
        margin-right: 1rem;

        @media (max-width: $sm) {
          margin-right: 0;
        }
      }
    }

    @media (max-width: $sm) {
      font-size: 1.2rem;
    }
  }

  &__info-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--white);
  }

  &__info-bottom {
    @extend %flex-center-y;

    > * {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }

  &__address,
  &__timetable,
  &__tel {
    &--right {
      @media (max-width: $sm) {
        flex-direction: row-reverse;
      }
    }
  }

  &__span {
    @media (max-width: $sm) {
      margin-left: 1rem;
    }
  }

  // center
  &__center {
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;

    @media (max-width: $lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }

  &__categories-title {
    @extend %text-20;
    font-weight: 500;

    @extend %flex-between;
    flex-wrap: wrap;

    a {
      color: var(--white);
      transition: color 0.3s;

      &:hover {
        color: var(--green);
      }

      &:active {
        color: var(--active-green);
      }
    }
  }

  &__categories {
    @media (max-width: $sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s;
    }
  }

  &__add-categories {
    @media (max-width: $sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  &__category-link {
    @extend %text-16;
    font-weight: 400;
    color: var(--white);
    transition: color 0.3s;

    @media (max-width: $sm) {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }

    &:hover {
      color: var(--green);
    }

    &:active {
      color: var(--active-green);
    }
  }

  &__subcategory-link {
    @extend %text-16;
    font-weight: 400;
    color: var(--white);
    transition: color 0.3s;

    @media (max-width: $sm) {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }

    &:hover {
      color: var(--green);
    }

    &:active {
      color: var(--active-green);
    }
  }

  // bottom
  &__bottom {
    @extend %flex-between;
    flex-wrap: wrap;

    > * {
      &:not(:last-child) {
        margin-right: 2rem;

        @media (max-width: $md) {
          margin-right: 0;
        }
      }
    }
  }

  &__copyright {
    @extend %text-16;
    color: var(--white);
    font-weight: 400;

    @media (max-width: $sm) {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
  }

  &__developer {
    @extend %text-16;
    color: var(--white);
    font-weight: 400;

    @extend %flex-center-y;

    @media (max-width: $sm) {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
  }

  &__developer-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--white);
    margin-left: 1rem;
  }

  &__icon-wrap {
    @media (max-width: $sm) {
      background: url('../../assets/images/sprite-icons/plus.svg') no-repeat 50% / contain;
      width: 1rem;
      height: 1rem;
    }
  }
}

.footer__categories-inner.is-active .footer__icon-wrap {
  @media (max-width: $sm) {
    background: url('../../assets/images/sprite-icons/minus.svg') no-repeat 50% / contain;
    width: 1rem;
    height: 1rem;
  }
}
